.char1{
  color:rgb(0,200,200);
}
.char2{
  color:rgb(225,125,91);
}
.char3{
  color:rgb(150,150,220);
}
.char4{
  color:rgb(255,255,255);
}
.char5{
  color:rgb(255,255,0);
}
.submit{
  color:rgb(0,110,0);
}
