:root {
    --text-color: rgb(40,40,40);
}
body {
    margin: 0;
    background: rgb(126, 9, 204);
}
* {
    font-family: '微软雅黑', monospace;
    transition: all .7s;
}
.root {
    position: absolute;
    left: 0;
    background: inherit;
    width: 100%;
}
.main {
    position: relative;
    top: 86px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.menu {
    position: fixed;
    width: 100%;
    background-color: rgb(230,230,230);
    box-shadow: 2px 0px 5px rgb(150,150,150);
    z-index: 10;
}
.content {
    margin-top: 21px;
    background-color: rgb(250,250,250);
    padding: 30px;
    box-shadow: 2px 2px 5px rgb(200,200,200);
}
.red {
    color: rgb(224,36,94);
}
.yellow {
    color: rgb(255, 251, 0);
}
.lightgreen {
    color: rgb(181,230,29);
}
.lightblue {
    color: rgb(29,161,242);
    text-decoration: none;
}
.purple {
    color: rgb(150,50,250);
    text-decoration: none;
}
.lightgray, i, .fangshi a {
    color: inherit;
}
.sticky {
    padding: 10px;
    color: rgb(80,80,80);
    transition: all 1s;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    border-radius: 10px;
    position: sticky;
    transition: all 1s;
    background-color: rgb(250,250,250);
    box-shadow: 2px 2px 5px rgb(200,200,200);
}
.sticky:hover {
    color: black;
    border-radius: 25px;
    padding: 25px;
    margin-left: 6%;
}
.sticky[nomove]:hover {
    padding: 10px;
    border-radius: 10px;
}
.stickybox:hover {
    margin-right: 6%;
}
.stickybox[nomove]:hover {
    margin-right: 4%;
}
.stickybox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4%;
    margin-top: 21.44px;
    transition: all 1s;
}
.fangshi ul {
    list-style-type: none;
}
.projects, .posts, .diary {
    margin-top: 21.44px;
    color: rgb(100,100,100);
    transition: all 1s;
}
.projects:hover, .posts:hover, .diary:hover {
    color: var(--text-color);
}
a {
    color: var(--text-color);
}
.menu {
    padding: 22px;
    color: rgb(181,230,29);
}
h1 {
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.list {
    margin-top: 50px;
}
.diary table, .diary th, .diary td {
    border-style: solid;
    border-width: 1px;
    margin: 20px 0;
    border-spacing: 0;
}
a button {
    padding: 4px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    background: rgb(0, 131, 65);
    color: white;
}
.smallavt {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(200,200,200);
    border-width: 1px;
    overflow: hidden;
}
.llg {
    color: rgb(250,250,250);
}
z {
    font-size: 12px;
    display: block;
}
span {
    color: orange;
    font-weight: bold;
    font-size: 30px;
}
.list li {
    margin-bottom: 30px;
}
.kttext {
    font-family: '楷体';
    font-size: 18px;
}
.highbox {
    background-color: rgb(173, 173, 173);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}
tr.esp {
    background-color: rgb(133, 220, 255);
}
#dark-mode-toggle {
    margin-left: 20px;
    padding: 6px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    background: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
}
.popupbtn {
    background-color: rgb(250,250,250);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.popupbtn:hover {
    background-color: rgb(220,220,220);
}

/* 深色模式样式 */
.dark-mode .content {
    background-color: #121212; /* 背景颜色 */
    color: #ffffff; /* 字体颜色 */
    --text-color: #eee;
}

.dark-mode .menu {
    background-color: #1e1e1e; /* 菜单背景颜色 */
}

.dark-mode .sticky {
    background-color: #1e1e1e; /* 便签背景颜色 */
    border-color: #444; /* 便签边框颜色 */
    color: #ffffff; /* 便签字体颜色 */
}

.dark-mode #dark-mode-toggle {
    background-color: #fff; /* 按钮背景颜色 */
    color: #333; /* 按钮字体颜色 */
    border-color: #555; /* 按钮边框颜色 */
}

.dark-mode #talk-board .tb {
    background-color: #222; /* 留言板背景颜色 */
    color: #ffffff; /* 留言板字体颜色 */
    border-color: #444; /* 留言板边框颜色 */
}
.dark-mode input, .dark-mode textarea {
    background-color: #333; /* 输入框背景颜色 */
    color: #ffffff; /* 输入框字体颜色 */
    border-color: #555; /* 输入框边框颜色 */
}
.dark-mode button[type="submit"] {
    background-color: #555; /* 提交按钮背景颜色 */
    color: #ffffff; /* 提交按钮字体颜色 */
    border-color: #777; /* 提交按钮边框颜色 */
}
.dark-mode .popupbtn {
    background-color: #222; /* 弹出按钮背景颜色 */
    color: #ffffff; /* 弹出按钮字体颜色 */
    border-color: #444; /* 弹出按钮边框颜色 */
}
.dark-mode .popupbtn:hover {
    background-color: #666; /* 弹出按钮悬停背景颜色 */
}
.dark-mode tr.esp {
    background-color: rgba(133, 220, 255, 0.75); /* 表格行背景颜色 */
}
.dark-mode .highbox {
    background-color: #ccc; /* 高亮框背景颜色 */
    color: #000; /* 高亮框字体颜色 */
}
.dark-mode .modal-dialog {
    background-color: #1e1e1e; /* 模态对话框背景颜色 */
    color: #ffffff; /* 模态对话框字体颜色 */
    border-color: #444; /* 模态对话框边框颜色 */
}