.els {
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background: radial-gradient(circle at center, #e9e9e9 0%, #5a5a5a 100%);
}