video, .content img {
    width: 500px;
}
#scriptpaper {
    position: relative;
    margin: 1em 0;
    clear: both;
    top: auto;
    left: auto;
    font-family: '新宋体', '微软雅黑';
    padding: 10px;
    margin: 20px 0;
    background: linear-gradient(-150deg, transparent 1.5em, #fedcbd 0);
    border-radius: .5em;
    box-shadow: -10px 10px 5px rgba(0,0,0,.2);
}
#scriptpaper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom,transparent 50%, rgba(0,0,0,.4)0) 100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
#scriptpaper p {
    font-family: inherit;
}
#performlist {
    border-style: solid;
    border-width: 1px;
    margin: 20px 0;
    border-spacing: 0;
}
#performlist th, #performlist td {
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
}
#performlist caption {
    color: red;
    font-size: 50px;
}
#performlist thead {
    background-color: darkturquoise;
}
#performlist tbody {
    background-color: #fedcbd;
}
