.cyzsays {
    background-color: rgb(74, 246, 105);
    padding: 10px;
    border-radius: 10px;
}
.cyzsays::before {
    content: url(./cyz.png);
}
.ljcsays {
    background-color: rgb(135, 206, 250);
    padding: 10px;
    border-radius: 10px;
}
.ljcsays::after {
    content: url(./ljc.png);
}

.dark-mode .cyzsays {
    color: black;
}